/* fonts */
@import url("https://cdn.web-fonts.ge/fonts/bpg-square/css/bpg-square.min.css");
@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,700");
@import url("https://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");
@import url("https://cdn.web-fonts.ge/fonts/bpg-nostalgia/css/bpg-nostalgia.min.css");

/*header section*/
.main_header {
  padding-top: 54px;
}
.main_logo {
  margin-right: 60px;
}
ul,
ul li,
a {
  color: #8d81ff;
  font-family: "FiraGO", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
}
nav {
  display: inline-block;
  vertical-align: top;
}
nav li {
  margin-right: 87px;
}
/* active button */
.active {
  color: #4e6fae;
}

.number {
  color: #84ff81;
  font-family: "FiraGO", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  background-color: #5012d5;
  padding: 8px 8px 8px 11px;
  width: 50px;
  margin-bottom: 18px;
}
.month {
  color: #8d81ff;
  font-family: "FiraGO", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.title {
  color: #4e6fae;
  font-family: "BPG Square", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 14px;
}

.main{
    margin-top: 84px;
}
p,
ol li {
  color: #4E6FAE;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.break {
  margin-bottom: 15px;
}

.text_box {
  font-family: "BPG Square", sans-serif;
  display: inline-block;
  width: 770px;
  vertical-align: top;
}
.text_box.second{
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.notebook_p{
    font-family: "BPG Nostalgia", sans-serif;
}

.code_photo,
.tag_sign {
  margin-right: 65px;
}
article {
  margin-bottom: 143px;
}

.notebook_photo {
  margin-bottom: 34px;
}
.notebook_p {
  width: 1021px;
}

/*Footer section*/
.empty {
  width: 2px;
  height: 48px;
  background: #5012d5;
  display: inline-block;
  margin-right: 41px;
}
.fb_icon {
  margin-right: 41px;
}
.main_footer {
  margin-bottom: 285px;
}

/* container styles */

.container {
  width: 1291px;
  margin: 0 auto;
}
/* /////////////////////////////////////////////////////////////// */

/* news style section */

.news_header{
    padding-top: 41px;
    padding-left: 63px;
}

.blue_photo{
    margin-top: 85px;
    margin-bottom: 120px;
}
.container_news{
    width: 1052px;
    margin: 0 auto;
}

.card_title{
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 26px;
	font-weight: 700;
	line-height: normal;
	display: inline-block;
}
.second{
	font-weight: 400;
}
.empty_cards{
	width: 2px;
	height: 24px;
	background-color: #5012D5;
	display: inline-block;
    vertical-align: text-bottom;

}
.title_box{
	margin-bottom: 26px;
}

/*cards section*/
.subtitle{
	color: #3F4145;
	font-family: Helvetica Neue LT GEO;
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
}
.subtitle1{
    margin-bottom: 21px;
}
.subtitle2{
    margin-bottom: 14px;
}
.card_text{
	color: #7E8898;
	font-family: Helvetica Neue LT GEO;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	width: 335px;
	display: inline-block;
	vertical-align: middle;
}
.search_img{
	margin-right: 37px;
	vertical-align: middle;
}
.submit_img{
	margin-right: 23px;
	vertical-align: middle;
}
.card1{
	display: inline-block;
	background-color: #E7E7E7;
	padding: 21px 15px 32px 25px;
}
.card2{
    display: inline-block;
	background-color: #E7E7E7;
	padding: 21px 19px 27px 29px;
}
.card1{
	margin-right: 54px;
}
.cards{
	margin-bottom: 93px;
}

/*footer section*/
.news_footer{
	margin-bottom: 193px;
}

/* ///////////////////////////////////////////// */

/* contact style section */
.contact_header{
    padding-left: 92px;
    margin-bottom: 31px;
}

/*adress section*/
.contact_section{
	background-color: #E7E7E7;
    margin-bottom: 104px;
    padding-left: 110px;
    padding-top: 93px;
    padding-bottom: 93px;
}
iframe{
    width: 600px;
    height: 400px;
    vertical-align: top;
}
.cotact_info{
    margin-right: 60px;
    display: inline-block;
}
.container_contact{
    width: 1120px;
    margin: 0 auto;
}
.adress_title{
	color: #4E6FAE;
	font-family: Helvetica Neue, sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 27px;
}
.specified{
	color: #7E8898;
	font-family: Helvetica Neue LT GEO, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
}
.street{
	margin-bottom: 23px;
}
.tel{
	font-size: 20px;
	margin-bottom: 11px;
}

span{
	font-size: 20px;
	color: #3F4145;
}
/*footer section*/

.contact_footer{
	margin-bottom: 180px;
	margin-left: 96px;
}

/* /////////////// The End ///////////////////////// */
